/* Create Package Styles */
a {
    cursor: pointer;
}
.package-image {
    width: 400px; 
    height: 200px; 
    background-color: #ddd;
}

.hotel-panel {
    width: 100%;
}

.activity-panel {
    width: 100%;
}

#destination-text span {
    cursor: pointer;
}

.added-hotel span {
    cursor: pointer;
}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.thumb{
   max-width:100%;
    max-height:100%;
    float: none;
    position: relative;
    top: 7px;
}