/* Create Package Styles */
a {
    cursor: pointer;
}
.package-image {
    width: 400px; 
    height: 200px; 
    background-color: #ddd;
}

.hotel-panel {
    width: 30%;
    margin-right: 3%;
}

.activity-panel {
    width: 30%;
    margin-right: 3%;
    height: 250px;
}

#destination-text span {
    cursor: pointer;
}

.added-hotel span {
    cursor: pointer;
}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}