@font-face {
	font-family: "Avenir";
	src: url('../fonts/AvenirRoman.otf');
}

html, body {
	margin: 0 auto;
	padding: 0;
	font-family: 'Avenir';
	color: #000000;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.hero h2{
  margin-top: 200px;
}
.main-content{
  padding-top: 50px;
  padding-bottom: 50px;
}
.main-content p{
  font-size: 16px;
  padding-top: 10px;
  padding-bottom: 10px;
  line-height: 22px;
}
.footer{
    color: white;
    padding: 45px;
}
.footer a{
    color: white;
}
.footer a:hover{
    text-decoration: none;
}
.footer .bold{
    font-weight: bold;
}
.footer .category-list{
    list-style: none;
    padding-left: 3px;
}
.footer .category-list li{
        padding: 7px 0;
        font-size: 0.95em;
}
.footer .category-list li:first-child{
    padding-top: 14px;
}
.footer .footer-brand{
    text-align: right;
    position: relative;
    bottom: 80px;
}
.footer .footer-brand .footer-logo{
    width: 150px;
    margin-bottom: 10px;
}
.image-bg{
  min-height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#footer-col4{
    height: 0px;
}
@media screen and (max-width: 768px) {
    .image-bg {
            display: none;
    }
}
#full-page{
  transition: 0.5s;
  width: 100%;
}
#full-page-cover{
  transition: 0.5s;
  position: absolute;
  opacity: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.75);
  z-index: 999;
  display: none;
}
#loading-overlay{
    position:fixed; 
    top:0; left:0; 
    background:rgba(0,0,0,0.6); 
    z-index:99999; 
    width:100%; 
    height:100%; 
    display:none;
}
.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}
#sideNavigation{
  transition: 0.5s;
  position: absolute;
  top:0px;
  left:0px;
  width: 0px;
  overflow: hidden;
  background-color: #FFF;
  height: 100%;
  z-index: 999;
}
#sideNavigation #exit_nav{
  display: block;
  height: 50px;
  width: 100%;
  text-align: right;
  background-color: #14599e;
}
#sideNavigation ul li a{
  color: #333333;
  width: 100%;
  padding: 10px 0px 10px 20px;
  display: block;
  font-size: 16px;
  text-decoration: none;
  border-bottom: 1px solid #CCC;
  transition: all 0.2s ease;
  cursor: pointer;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  font-weight: 300;
  letter-spacing: 1px;
  text-transform: uppercase;
}
#sideNavigation a:hover {
    text-decoration: none;
    background-color: #14599e;
    color: #FFF;
    padding-left: 40px;
}
#sideNavigation ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
#sideNavigation ul li {
    min-width: 280px;
    background-image: none;
    padding: 0;
    margin: 0;
}
#exit_nav i{
    color: #FFF;
    font-size: 25px;
    margin: 0;
    line-height: 50px;
    width: 50px;
    text-align: center;
    background-color: #14599e;
    cursor: pointer;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}
#exit_nav i:hover{
  background-color: #662d91;
}

.blue-container{
  background-color: #14599e;
  min-height: 102px;
}
.main-navbar .dropdown a{
  background-color: #14599e;  
}
.main-navbar .dropdown .dropdown-menu, .main-navbar .dropdown .dropdown-menu a{
  background-color: #2e649c;    
  padding: 10px 15px;
}
.main-navbar .open>a, .main-navbar .open>a:focus, .main-navbar .open>a:hover{
  background-color: #14599e;      
}
.main-nav{
  margin-left: 75px;
}
.navbar-nav{
  margin-top: 20px;
}
ul.navbar-nav li a{
  color: #ffffff;
  padding: 20px 25px;
  display: block;
  font-size: 16px;
  text-align: center;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 0px solid #999;
  background-size: 100% 200%;
}
ul.nav li a:hover, ul.nav li a:focus {
    background-position: 0 -100%;
    color: #999;
    background: none;
}
ul.navbar-right li a{
  padding: 20px 15px;
}
.navbar-toggle .icon-bar{
  background:#FFF;
  height: 4px;
  width: 100%;
}
.navbar {
      margin: auto;
      padding-bottom: 20px;
      padding-right: 20px;
  }
.navbar-toggle{
  border-radius: 0px;
  float: left;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  width: 48px;
  height: 48px;
  margin-top: 47px;
  margin-left: 23px;
}
.navbar-toggle:hover{
  background-color: rgba(0, 0, 0, 0.4);
}
@media (min-width: 1200px){
  .navbar {
      margin: auto;
      width: 1170px;
      padding-bottom: 20px;
      padding-right: 20px;
  }
}
@media (max-width: 1200px){
  .navbar {
      margin: auto;
      padding-bottom: 20px;
      padding-right: 20px;
  }
}
@media screen and (max-width: 1025px){
  ul.nav li a{
    padding: 20px 10px;
  }
  .navbar {
      margin: auto;
      padding-bottom: 20px;
      padding-right: 40px;
      padding-left: 35px;
  }
}
@media screen and (max-width: 768px){
  .navbar {
      margin: auto;
      padding-bottom: 0px;
      padding-right: 20px;
      padding-left: 20px;
  }
  .navbar-brand img{
    width: 180px;
    margin-left: -30px;
  }
}
@media screen and (max-width: 480px){
  .small-nav{
    max-width: 139px;
    display: block;
    position: absolute;
    top: 0px;
    right: 0px;
  }
  .small-nav li a{
    color: #ffffff;
    padding: 10px 10px;
    display: block;
    font-size: 16px;
    text-align: right;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 0px solid #999;
    background-size: 100% 200%;
    float:right;
  }
}
.cta-banner {
    background: #662d91;
    height: 60px;
}
#homepage-cta-banner{
    padding: 9px 0;
    margin: 0 auto;
}
#homepage-cta-banner p{
    text-align: center;
    color: #ffffff;
    font-size: 25px;
    font-style: italic;
    font-weight: 900;
    vertical-align: middle;
}
a.purple-button{
    color: #ffffff !important;
    padding: 10px 50px;
    border: 1px solid #ffffff;
    font-size: 16px;
    font-style: normal;
    font-weight: normal;
    transition: all .3s ease-out;
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    -ms-transition: all .3s ease-out;
}
@media screen and (max-width: 980px) {
    .cta-banner {
            display: none; 
    }
}
.category-container-image{
    
    opacity: 1;
    background-repeat: no-repeat;
    background-position: center;
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
}
.category-container{
    height: 280px;
  }
.category-container-title {
    text-align: center;
    color: #ffffff;    
    margin-top: 100px;
    margin-bottom: 30px;
}
.category-container-title h3 {
    font-size: 45px;
    margin: 0;
}
.overlay{
    position: absolute;
    opacity: 0;
    background: #14599e;
    -ms-transition: opacity 0.3s ease-in-out;
    -o-transition: opacity 0.3s ease-in-out;
    -moz-transition: opacity 0.3s ease-in-out;
    -webkit-transition: opacity 0.3s ease-in-out;
    transition: opacity 0.3s ease-in-out;
    width: 100%;
    height: 100%;
}
.box {
    position: relative;
    overflow: hidden;
    text-align: center;
    cursor: pointer;
    color: #ffffff;
    height: 100%;
}
.box:hover > .overlay {
    opacity: .8;
}
a.hero-button{
    color: #ffffff !important;
    padding: 10px 50px;
    border: 1px solid #ffffff;
    transition: all .3s ease-out;
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    -ms-transition: all .3s ease-out;
    text-decoration: none;
}
a.hero-button:hover{
    border: 1px solid #ffffff;
    background: #ffffff;
    color: #14599e !important;
    opacity: 1;
}
@media screen and (max-width: 980px) {
    .category-container{
        height: 230px;
    }
    .category-container-title h3 {
        font-size: 28px;
        margin: 0;    
    }
}
@media screen and (max-width: 768px) {
    .category-container-title h3 {
        float: left;
        font-size: 22px;
        margin: 0;
        
    }
    a.hero-button{
        display: none;
    }
}
.category{
    background: #662d91;
    margin: 0 auto;
}
.category h1 {
    color: #ffffff;
    font-weight: 600;
    padding: 30px 0;
    font-size: 42px;
    line-height: 38px;
    margin: 0;
}
.packages-container a{
    text-decoration: none;
}
.package-container-title{
    text-align: center;
    padding-top: 100px;
}
.package-container-title h3{
    color: #ffffff;
    font-size: 45px;
    margin: 0;
    font-weight: 900;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.package-container-title-left{
    padding-top: 100px;
    padding-left: 25px;
}
.package-container-title-left h3{
    color: #ffffff;
    font-size: 45px;
    margin: 0;
    font-weight: 900;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.package-container-title-left h4{
    color: #ffffff;
    font-size: 20px;
    margin: 0;
    font-weight: 900;
}
.package-pricing{
    background-color: #14599e;
    text-align: center;
    color: white;
    font-size: 15px;
}
.package-price{
    line-height: 60px;
}
.package-deal-ends{
    background-color: #662d91;
    height: 100px;
    text-align: center;
    font-size: 18px;
    color: white;
    padding-top: 20px;
}
.package-deal-ends-nonav{
    background-color: #662d91;
    height: 200px;
    text-align: center;
    font-size: 18px;
    color: white;
    padding-top: 60px;
}
.package-learn-more {
    background-color: #55a218;
    height: 100px;
    text-align: center;
    font-size: 25px;
    line-height: 100px;
}
.package-learn-more a {
    text-decoration: none;
    color: white;
}
.package-learn-more a:hover{
    text-decoration: none;
    color: white;
}
#package-map{
    height: 200px;
}
.package-description{
    margin-top:10px;
    margin-bottom: 10px;
}
.package-pricing2{
    position: relative;
    min-height: 230px;
    border: 1px solid #000;
    margin: 0 54px 0px 54px;
}
.package-pricing2-description{
    margin: 30px;
    height: 130px;

}
.package-pricing2 h4 {
    font-weight: 900;
    font-size: 18px;
}
.package-pricing2 p {
    font-size: 18px;
    line-height: 16px;
}
.package-pricing2 a{
    color: white;
    text-decoration: none;
}
.package-pricing2 a:hover{
    color: white;
    text-decoration: none;
}
#start-playing {
    background: #662d91;
    color: white;
    border: 2px solid #662d91;
}
#book-now {
    background: #55a218;
    color: white;
    border: 2px solid #55a218;
}
.package-buttons{
    display: inline-block;
    width: 100%;
    padding: 10px;
    text-align: center;
    font-size: 20px;
    line-height: 30px;
    font-weight: 700;
}
.aditional-packages{
    margin: 0 auto;
    text-align: center;
    margin: 70px;
        
}
.aditional-adventure p{
    color: #ffffff;
    text-align: center;
    margin: 0 auto;
    font-size: 25px;
    font-weight: 900;
}

.aditional-adventure{
    height: 225px;
    transition: background-color 1s;
    background-color: rgba(20, 89, 158, 0);
    background-repeat: no-repeat;
    background-position: center;
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
    padding-top: 65px;
}
.aditional-adventure .after{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    color: #FFF;
    text-align: center;
    padding-top: 65px;
}
.aditional-adventure .after p{
    margin-bottom: 25px;
}
.aditional-adventure:hover .after{
  display: block;
  
}
.aditional-adventure:hover {
  background-color: rgba(20, 89, 158,0.75);
  
}
.aditional-adventure:before {
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  background-color: inherit;
  content: ' ';
}
.blue-header{
    color: #14599E;
    font-weight: 600;
    margin-bottom: 50px;
    margin-top: 50px;
}
.full-width{
  width:100% !important;
  height: 50px;
  padding: 15px;
}
#hotel-panel{
    display: none;
}
.pad30{
    padding-left: 30px;
    padding-right: 30px;
}
.multiselect-container{
    width: 100% !important;
}
.activity-item{
    display: none;
}
.dropdown-menu>li>a{
    white-space: normal !important;
}
.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}
@media print
{
    .no-print{
        display: none;
    }
}